* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #16001f;
    color: #ffffff;
    font-family: "Poppins", sans-serif;
    line-height: 1.6;
}


/* TÍTULOS */

h1, h2, h3 {
    font-family: "Permanent Marker", cursive;
}


h1 {
    font-size: 70px;
    color: #d9a7ff;
}


h2 {
    color: #ff4d8d;
    font-size: 40px;
    margin-bottom: 20px;
}


h3 {
    color: #ffb3d1;
    font-size: 30px;
}



/* CABEÇALHO */

header {

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background:
    linear-gradient(
    rgba(20,0,30,0.6),
    #16001f
    );

}


header p {

    font-size: 50px;
    color: #ff4d8d;

}



/* SEÇÕES */

section {

    width: 85%;
    margin: 70px auto;

    padding: 40px;

    background-color: #24002f;

    border-radius: 25px;

    border: 3px solid #ff4d8d;

}



/* CARDS DAS MÚSICAS */

.card {

    background-color: #330044;

    padding: 25px;

    margin: 25px 0;

    border-radius: 20px;

    transform: rotate(-1deg);

}


.card:hover {

    transform: scale(1.03);

}



/* LISTAS */

ul {

    list-style: "🎸 ";

    padding-left: 30px;

}



li {

    margin: 10px;

}



/* RODAPÉ */

footer {

    background-color: #09000d;

    text-align: center;

    padding: 30px;

    color: #d9a7ff;

}
