* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background: #11140d;
    color: #f5f1e6;
    font-family: "Poppins", sans-serif;
}


/* MENU */

nav {
    width: 100%;
    padding: 25px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    z-index: 10;
}

nav h1 {
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    color: #d7c9a3;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

nav a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

nav a:hover {
    color: #a8b57a;
}


/* CAPA */

.hero {
    height: 100vh;
    background:
    linear-gradient(
        rgba(20,25,15,0.65),
        rgba(17,20,13,1)
    ),
    url("img/jao.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;
}


.hero-text {
    max-width: 800px;
    padding: 20px;
}

.hero h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 70px;
    color: #d7c9a3;
}

.hero p {
    font-size: 18px;
    margin: 25px 0;
}


/* BOTÃO */

.botao {
    display: inline-block;
    padding: 14px 35px;
    border: 1px solid #d7c9a3;
    color: #d7c9a3;
    text-decoration: none;
    border-radius: 30px;
    transition: 0.3s;
}

.botao:hover {
    background: #d7c9a3;
    color: #11140d;
}


/* CARDS */

.card {
    width: 85%;
    margin: 80px auto;
    display: flex;
    align-items: center;
    gap: 50px;

    background: #1b2114;
    padding: 50px;
    border-radius: 25px;
}


.card.reverso {
    flex-direction: row-reverse;
}


.texto {
    flex: 1;
}


.texto h2,
#galeria h2 {
    font-family: "Cormorant Garamond", serif;
    font-size: 45px;
    color: #d7c9a3;
    margin-bottom: 20px;
}


.texto p {
    line-height: 1.8;
    color: #eeeeee;
}


.imagem {
    flex: 1;
}


.imagem img {
    width: 100%;
    border-radius: 20px;
}


/* GALERIA */

#galeria {
    width: 85%;
    margin: 80px auto;
}


.galeria {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}


.galeria img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 15px;
}


/* RODAPÉ */

footer {
    text-align: center;
    padding: 30px;
    background: #080a06;
    color: #d7c9a3;
}


/* CELULAR */

@media(max-width: 800px){

    nav {
        flex-direction: column;
        gap: 20px;
    }

    nav ul {
        gap: 15px;
        flex-wrap: wrap;
        justify-content: center;
    }


    .hero h2 {
        font-size: 45px;
    }


    .card,
    .card.reverso {
        flex-direction: column;
        padding: 30px;
    }


    .galeria {
        grid-template-columns: 1fr 1fr;
    }

}
