* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: #0b0710;
    color: #f5f5f5;
    font-family: "Poppins", sans-serif;
}


/* Títulos */

h1, h2, h3 {
    font-family: "Permanent Marker", cursive;
}


h1 {
    font-size: 75px;
    color: #ffffff;
    text-shadow: 5px 5px #4b0066;
}


h2 {
    color: #7c2aa8;
    font-size: 42px;
    margin-bottom: 25px;
}


h3 {
    color: #8f1d3c;
    font-size: 30px;
}



/* Capa */

header {

    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    background:
    linear-gradient(
        180deg,
        #0b0710,
        #1c0528
    );

}


header p {

    font-size: 60px;
    color: #8f1d3c;

    letter-spacing: 8px;

}



/* Seções */

section {

    width: 85%;

    margin: 80px auto;

    padding: 45px;


    background-color: #160d20;


    border: 2px solid #4b0066;


    box-shadow: 10px 10px 0px #8f1d3c;


    border-radius: 5px;

}



/* Textura de rabisco */

section::before {

    content: "";

    display: block;

    height: 5px;

    width: 80px;

    background-color: #8f1d3c;

    margin-bottom: 20px;

}



/* Cards das músicas */

.card {

    background-color: #21112d;

    padding: 30px;

    margin: 30px 0;


    border-left: 8px solid #8f1d3c;


    transform: rotate(-1deg);


    box-shadow: 5px 5px 0px #4b0066;

}


.card:hover {

    transform: rotate(1deg);

}



/* Rodapé */

footer {

    background-color: #050308;

    padding: 30px;

    text-align: center;

    color: #888;

}
